USE [master]
GO
/****** Object:  Database [Impegni]    Script Date: 27/08/2021 11:23:07 ******/
CREATE DATABASE [Impegni]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Impegni', FILENAME = N'C:\Users\elena.dal.savio\Impegni.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Impegni_log', FILENAME = N'C:\Users\elena.dal.savio\Impegni_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Impegni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Impegni]
GO
USE [Impegni]
GO
/****** Object:  Table [dbo].[Impegno]    Script Date: 27/08/2021 11:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impegno](
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[DueDate] [date] NOT NULL,
	[Importance] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Impegno] ON 

INSERT [dbo].[Impegno] ([Title], [Description], [DueDate], [Importance], [IsCompleted], [Id]) VALUES (N'Ado', N'Academy', CAST(N'2021-09-23' AS Date), 3, 0, 2)
INSERT [dbo].[Impegno] ([Title], [Description], [DueDate], [Importance], [IsCompleted], [Id]) VALUES (N'Dr. Rossi', N'Visita', CAST(N'2021-10-05' AS Date), 2, 0, 3)
INSERT [dbo].[Impegno] ([Title], [Description], [DueDate], [Importance], [IsCompleted], [Id]) VALUES (N'Report', N'Compito', CAST(N'2021-12-03' AS Date), 1, 1, 4)
SET IDENTITY_INSERT [dbo].[Impegno] OFF
GO
USE [master]
GO
