USE [master]
GO
/****** Object:  Database [Cinema]    Script Date: 25/08/2021 10:48:24 ******/
CREATE DATABASE [Cinema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cinema', FILENAME = N'C:\Users\elena.dal.savio\Cinema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cinema_log', FILENAME = N'C:\Users\elena.dal.savio\Cinema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cinema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cinema]
GO
USE [Cinema]
GO
/****** Object:  Table [dbo].[Attore]    Script Date: 25/08/2021 10:48:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attore](
	[CodiceAttore] [int] NOT NULL,
	[Nome] [nvarchar](30) NOT NULL,
	[Nazionalita] [nvarchar](20) NOT NULL,
	[DataNascita] [date] NULL,
 CONSTRAINT [Pk_Attore] PRIMARY KEY CLUSTERED 
(
	[CodiceAttore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Castt]    Script Date: 25/08/2021 10:48:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Castt](
	[CodiceFilm] [int] NOT NULL,
	[CodiceAttore] [int] NOT NULL,
	[Cachet] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 25/08/2021 10:48:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[CodiceFilm] [int] NOT NULL,
	[Titolo] [nvarchar](40) NULL,
	[Genere] [nvarchar](40) NULL,
	[Durata] [int] NOT NULL,
 CONSTRAINT [Pk_CodiceFilm] PRIMARY KEY CLUSTERED 
(
	[CodiceFilm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programmazione]    Script Date: 25/08/2021 10:48:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programmazione](
	[CodiceProgrammazione] [int] NOT NULL,
	[DataOra] [date] NULL,
	[PostiDisponibili] [int] NULL,
	[CodiceFilm] [int] NOT NULL,
	[CodiceSala] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 25/08/2021 10:48:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[CodiceSala] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](20) NULL,
	[PostiTotali] [int] NULL,
 CONSTRAINT [Pk_CodiceSala] PRIMARY KEY CLUSTERED 
(
	[CodiceSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
